report.csv
*.csv
*.json
app.log
__pycache__
Chart_Words_in_File.png
firmware_fileanalyzer.code-workspace
.vscode/
ausprobier_main.py
numpy_practices
bakup_tool.py
backup_tool.py
backup
data_old
charts
numpy_practices
panda_practices
sensor_practices
firmware_fileanalyzer - Fehlerart-Visualisierung Option B_files/
Freelancing - Fehlerart-Visualisierung Option B_files/
